<h1>User Profile</h1>

<div class="info">
  <%= @user.name %><br>
  <%= @user.email %>
</div>



<div class="projects">
  <h2>Projects</h2>
  <table border=1 cellspacing=0 cellpadding=10>
<% if @user.created_projects.any? %>
      <tr>
        <th>Project Name</th>
        <th>Total Pledged</th>
        <th>Goal Amount</th>
        <th>Project Deadline</th>
      </tr>
      <tr>
        <% @user.created_projects.each do |project| %>
        <td><%= project.name %></td>
        <td>$<%= project.pledges_total %></td>
        <td>$<%= project.goal %></td>
        <td><%= project.end_date.strftime('%A, %B %C at %r') %></td>
        <td><%= link_to "Edit", edit_project_path(project) %></td>
        <td><%= link_to "Delete Project", project_path(project), {method: :delete, data: {confirm: "ARE YOU SURE? This will delete all pledges and reward records for this project. This cannot be undone."}}%></td>
      </tr>
      <% end %>
    </table>
    </div>
<% end %>
