<h1>User Profile</h1>

<div class="info">
  <%= @user.name %><br>
  <%= @user.email %>
</div>




<% if @user.created_projects.any? %>
<h2>Projects</h2>
  <div class="projects">
  <% @user.created_projects.each do |project| %>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Total Pledged</th>
        <th>Goal Amount</th>
        <th>Project Deadline</th>
      </tr>
      <tr>
        <td><%= project.name %></td>
        <td>$<%= project.pledges.inject %></td>
        <td>$<%= project.goal %></td>
        <td><%= project.deadline %></td>
        <td><%= link_to "Edit", edit_project_path(project) %></td>
        <td><%= link_to "Delete", project_path(project), {method: :delete, data: {confirm: "Positive?"}}%></td>
      </tr>
    </table>
    </div>
  <% end %>
<% end %>
