<h1>User Profile</h1>

<div class="info">
  <%= @user.name %><br>
  <%= @user.email %>
</div>



<% if @user.created_projects.any? %>
  <div class="projects">
    <h2>Projects</h2>
  <% @user.created_projects.each do |project| %>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Total Pledged</th>
        <th>Goal Amount</th>
        <th>Project Deadline</th>
      </tr>
      <tr>
        <td><%= project.name %></td>
        <td>$<%= project.pledges.inject %></td>
        <td>$<%= project.goal %></td>
        <td><%= project.end_date.strftime('%A, %B %C at %r') %></td>
        <td><%= link_to "Edit", edit_project_path(project) %></td>
        <td><%= link_to "Delete Project", project_path(project), {method: :delete, data: {confirm: "ARE YOU SURE? This will delete all pledges and reward records for this project. This cannot be undone."}}%></td>
      </tr>
    </table>
    </div>
  <% end %>
<% end %>
