<div id="project-form">

  <%= form_for @project do |f| %>
    <div class="field">
      <%= f.label :name, "Project Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :goal, "Goal ($)" %>
      <%= f.number_field :goal %>
    </div>
    <div class="field">
      <%= f.label :end_date, "End_date" %>
      <%= f.date_field :end_date %>
    </div>

    <div id="categories" class="field">
       <div class="nested-fields">
          <%= f.label :category_id, "Category" %>
          <%= f.select :category_id, @categories %>
        </div>
    </div>


    <h3>Rewards</h3>
    <div id="rewards">
      <%= f.fields_for :rewards do |reward| %>
        <%= render 'reward_fields', f: reward %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "Add Reward", f, :rewards %>
      </div>
    </div>

    <div class="action">
      <%= f.submit "Submit Project" %>
    </div>


    </div>

  <% end %>
</div>
