<div class="show_project">

  <h1><%= @project.name %></h1>
  <p>End_date: <%= @project.end_date.strftime('%A, %B %C at %r')  %></p>
  <p>Time left:<strong> <%= distance_of_time_in_words(Time.now - @project.end_date) %></strong></p>
    <p>What it's about: <%= @project.description %></p>


  <h2>Goal:</h2>
  <% if @project.goal_achieved?(@project.pledges_total) %>
    <p>Project has been fully funded!</p>
  <% else %>
  <% end %>
  <p><%= @project.percent_achieved(@project.pledges_total) %>% Funded</p>
  <p><%= @project.pledges_total %> / <%= @project.goal %></p>

  <h2>Ends <%= @project.end_date %></h2>

  <% @project.rewards.each do |reward| %>
    <ul>
      <li>
        Pledge $<%= reward.threshold %> or more<br>
        <%= reward.quantity %> Backers<br>
        <%= link_to reward.name, new_reward_pledge_path(reward) %></strong><br>
        <%= reward.description %>
      </li>
    </ul>
  <% end %>

  <% if @project.category !=nil  %>
    <h4>Category</h4>
    <p><%= @project.category.name %></p>
  <% end %>

</div>

<%= link_to "Edit", edit_project_path(@project)  %> |  <%= link_to "Delete", @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %>
